.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.switch {
  margin-right: 20px;
}

#navbar-full .navbar {
  border-radius: 0 !important;
  margin-bottom: 15px;
  z-index: 2;
}

#menu-dropdown .navbar {
  border-radius: 3px;
}

#pagination-row .pagination-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}

#icons-row i.now-ui-icons {
  font-size: 30px;
}

.space {
  height: 130px;
  display: block;
}
h2 {
  margin: 0;
  height: 12vmin;
  width: 120vmin;
  display: flex;
  justify-content: center;
  position: relative;
}
html {
  margin: 0;
  height: 100%;
}
span {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
.profile-page .profile-description {
  margin-top: -100px;
  /* max-width: 450px; */
  /* font-size: 0.875rem; */
  line-height: 16px;
}

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  padding: 0 4em;
}
#shit {
  position: relative;
  top: -90px;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  font-size: 1.5em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

  font-size: 1.95em;
}
#crap {
  margin-left: 30%;
}
p {
  font-size: 1.75em;
  line-height: 1.75em;

  border-width: 3px;
  margin: 0;
  padding: 40px;
  position: relative;
  color: #f2f5fa;
}
p:before {
  position: absolute;
  border-radius: 50%;
  padding: 9px;
  height: 2.25em;
  width: 2.25em;
  text-align: center;
  line-height: 1.25em;
  color: #ffffff;
  font-size: 1em;
}

.pt-3,
.py-3 {
  padding-top: -11rem !important;
  margin-top: -10px;
  position: relative;
  top: -20px;
  left: 26px;
}
.black {
  border-width: 1px;

  box-sizing: border-box;
  width: 860px;
  height: 1px;
}
body {
  background: black;
  background-image: url('f.jpg');
  color: #ccc;
}

h3 {
  height: 12vmin;
  text-align: center;
  width: 120vmin;
  letter-spacing: 12px;
  word-spacing: 1.5em;
  font-size: 2.9em;
}
html::before,
html::after,
body::before,
body::after {
  content: '';

  top: 0;
  left: 0;
  display: block;
  width: 0.5vmin;
  height: 0.5vmin;
  border-radius: 50%;
  color: transparent;
}

html::before {
  box-shadow: 93vw 63vh 0.3vmin rgba(255, 255, 255, 0.8),
    3vw 17vh 0.3vmin rgba(255, 255, 255, 0.8),
    28vw 85vh 0.3vmin rgba(255, 255, 255, 0.8),
    97vw 82vh 0.3vmin rgba(255, 255, 255, 0.8),
    55vw 83vh 0.3vmin rgba(255, 255, 255, 0.8),
    74vw 72vh 0.3vmin rgba(255, 255, 255, 0.8),
    84vw 11vh 0.3vmin rgba(255, 255, 255, 0.8),
    32vw 6vh 0.3vmin rgba(255, 255, 255, 0.8),
    45vw 92vh 0.3vmin rgba(255, 255, 255, 0.8),
    98vw 57vh 0.3vmin rgba(255, 255, 255, 0.8),
    63vw 98vh 0.3vmin rgba(255, 255, 255, 0.8),
    90vw 46vh 0.3vmin rgba(255, 255, 255, 0.8),
    50vw 86vh 0.3vmin rgba(255, 255, 255, 0.8),
    38vw 21vh 0.3vmin rgba(255, 255, 255, 0.8),
    74vw 2vh 0.3vmin rgba(255, 255, 255, 0.8),
    89vw 22vh 0.3vmin rgba(255, 255, 255, 0.8),
    39vw 0vh 0.3vmin rgba(255, 255, 255, 0.8),
    25vw 89vh 0.3vmin rgba(255, 255, 255, 0.8),
    54vw 58vh 0.3vmin rgba(255, 255, 255, 0.8),
    81vw 39vh 0.3vmin rgba(255, 255, 255, 0.8),
    51vw 8vh 0.3vmin rgba(255, 255, 255, 0.8),
    24vw 56vh 0.3vmin rgba(255, 255, 255, 0.8),
    50vw 23vh 0.3vmin rgba(255, 255, 255, 0.8),
    62vw 34vh 0.3vmin rgba(255, 255, 255, 0.8),
    10vw 77vh 0.3vmin rgba(255, 255, 255, 0.8),
    92vw 45vh 0.3vmin rgba(255, 255, 255, 0.8),
    70vw 40vh 0.3vmin rgba(255, 255, 255, 0.8),
    2vw 53vh 0.3vmin rgba(255, 255, 255, 0.8),
    3vw 54vh 0.3vmin rgba(255, 255, 255, 0.8),
    18vw 21vh 0.3vmin rgba(255, 255, 255, 0.8),
    48vw 47vh 0.3vmin rgba(255, 255, 255, 0.8),
    83vw 96vh 0.3vmin rgba(255, 255, 255, 0.8),
    26vw 32vh 0.3vmin rgba(255, 255, 255, 0.8),
    46vw 9vh 0.3vmin rgba(255, 255, 255, 0.8),
    2vw 13vh 0.3vmin rgba(255, 255, 255, 0.8),
    29vw 63vh 0.3vmin rgba(255, 255, 255, 0.8),
    17vw 90vh 0.3vmin rgba(255, 255, 255, 0.8),
    78vw 9vh 0.3vmin rgba(255, 255, 255, 0.8),
    15vw 39vh 0.3vmin rgba(255, 255, 255, 0.8),
    90vw 5vh 0.3vmin rgba(255, 255, 255, 0.8);
}

html::after {
  box-shadow: 67vw 35vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    89vw 13vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    77vw 62vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    1vw 74vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    38vw 15vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    79vw 10vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    16vw 47vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    74vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    30vw 96vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    13vw 98vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    9vw 40vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    9vw 71vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    12vw 93vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    91vw 26vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    73vw 48vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    61vw 46vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    20vw 3vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    90vw 59vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    48vw 72vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8),
    91vw 68vh 0.2vmin 0.1vmin rgba(255, 200, 200, 0.8);
}

body::before {
  box-shadow: 30vw 90vh 0.2vmin rgba(190, 200, 255, 0.9),
    93vw 64vh 0.2vmin rgba(190, 200, 255, 0.9),
    75vw 80vh 0.2vmin rgba(190, 200, 255, 0.9),
    37vw 24vh 0.2vmin rgba(190, 200, 255, 0.9),
    83vw 58vh 0.2vmin rgba(190, 200, 255, 0.9),
    12vw 36vh 0.2vmin rgba(190, 200, 255, 0.9),
    62vw 82vh 0.2vmin rgba(190, 200, 255, 0.9),
    87vw 91vh 0.2vmin rgba(190, 200, 255, 0.9),
    9vw 2vh 0.2vmin rgba(190, 200, 255, 0.9),
    99vw 46vh 0.2vmin rgba(190, 200, 255, 0.9),
    39vw 86vh 0.2vmin rgba(190, 200, 255, 0.9),
    48vw 42vh 0.2vmin rgba(190, 200, 255, 0.9),
    53vw 24vh 0.2vmin rgba(190, 200, 255, 0.9),
    63vw 42vh 0.2vmin rgba(190, 200, 255, 0.9),
    2vw 53vh 0.2vmin rgba(190, 200, 255, 0.9),
    67vw 11vh 0.2vmin rgba(190, 200, 255, 0.9),
    32vw 44vh 0.2vmin rgba(190, 200, 255, 0.9),
    0vw 82vh 0.2vmin rgba(190, 200, 255, 0.9),
    51vw 47vh 0.2vmin rgba(190, 200, 255, 0.9),
    74vw 30vh 0.2vmin rgba(190, 200, 255, 0.9);
}

body::after {
  box-shadow: 80vw 64vh 0.1vmin rgba(200, 255, 230, 0.7),
    32vw 45vh 0.1vmin rgba(200, 255, 230, 0.7),
    65vw 62vh 0.1vmin rgba(200, 255, 230, 0.7),
    22vw 55vh 0.1vmin rgba(200, 255, 230, 0.7),
    68vw 19vh 0.1vmin rgba(200, 255, 230, 0.7),
    54vw 34vh 0.1vmin rgba(200, 255, 230, 0.7),
    1vw 56vh 0.1vmin rgba(200, 255, 230, 0.7),
    95vw 1vh 0.1vmin rgba(200, 255, 230, 0.7),
    60vw 93vh 0.1vmin rgba(200, 255, 230, 0.7),
    14vw 82vh 0.1vmin rgba(200, 255, 230, 0.7),
    6vw 64vh 0.1vmin rgba(200, 255, 230, 0.7),
    19vw 12vh 0.1vmin rgba(200, 255, 230, 0.7),
    25vw 39vh 0.1vmin rgba(200, 255, 230, 0.7),
    21vw 36vh 0.1vmin rgba(200, 255, 230, 0.7),
    4vw 10vh 0.1vmin rgba(200, 255, 230, 0.7),
    85vw 70vh 0.1vmin rgba(200, 255, 230, 0.7),
    54vw 93vh 0.1vmin rgba(200, 255, 230, 0.7),
    9vw 46vh 0.1vmin rgba(200, 255, 230, 0.7),
    63vw 59vh 0.1vmin rgba(200, 255, 230, 0.7),
    48vw 28vh 0.1vmin rgba(200, 255, 230, 0.7);
}
h2::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -26vmin;
  left: 29vmin;
  width: 62vmin;
  color: #eee5e9;
  height: 62vmin;
  border-radius: 50%;
  border: 1.3vmin solid currentColor;
  box-sizing: border-box;
}

em {
  font-family: 'Josefin Sans', sans-serif;
  color: currentColor;
  font-size: 15vmin;
  position: relative;
  font-style: normal;
  width: 20vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  position: relative;
}

em.planet::before {
  content: '';
  position: absolute;
  top: -0.5vmin;
  left: 3.5vmin;
  z-index: -1;
  width: 13vmin;
  height: 13vmin;
  border-radius: 50%;
  background: black;
}

em.planet.left {
  -webkit-transform-origin: 40vmin 5vmin;
  transform-origin: 40vmin 5vmin;
}

em.planet.right {
  -webkit-transform-origin: -20vmin 5vmin;
  transform-origin: -20vmin 5vmin;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
.space-110 {
  height: 110px;
  display: block;
}

.space-50 {
  height: 50px;
  display: block;
}

.space-70 {
  height: 70px;
  display: block;
}

.navigation-example .img-src {
  background-attachment: scroll;
}

.navigation-example {
  background-position: center center;
  background-size: cover;
  margin-top: 0;
  min-height: 740px;
  height: 100%;
}

#notifications {
  display: block;
  width: 100%;
  position: relative;
}

.tim-note {
  text-transform: capitalize;
}

#buttons .btn,
#javascriptComponents .btn {
  margin: 0 0px 10px;
  margin-right: 4px;
}

.space-100 {
  height: 100px;
  display: block;
  width: 100%;
}

.be-social {
  padding-bottom: 20px;
  /*     border-bottom: 1px solid #aaa; */
  margin: 0 auto 40px;
}

.txt-white {
  color: #ffffff;
}

.txt-gray {
  color: #ddd !important;
}

.parallax {
  width: 100%;
  height: 570px;
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo-container .logo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333333;
  width: 50px;
  float: left;
}

.logo-container .brand {
  font-size: 16px;
  color: #ffffff;
  line-height: 18px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  width: 70px;
  height: 40px;
  text-align: left;
}

.logo-container .brand-material {
  font-size: 18px;
  margin-top: 15px;
  height: 25px;
  width: auto;
}

.logo-container .logo img {
  width: 100%;
}
#sections {
  padding: 70px 0;

  background-image: url('f.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.box-model {
  display: grid;
  width: 90%;
  margin: 3%;
  background: rgb(255, 255, 255);
  /* grid-template-columns: 3; */
  /* grid-template-rows: repeat(auto-fit, 150px); */
  grid-auto-rows: 350px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.box {
  color: rgb(0, 0, 0);
}
.no1 {
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box:hover {
  transform: translateY(-20px);
  transition: 0.5s ease-out;
}

.no2 {
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.no3 {
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #89fffd,
    #ef32d9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.no4 {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box img {
  height: 100px;
  margin: 60px 35%;
  align-items: center;
  border-radius: 50px;
}
.box h2 {
  font-size: 24px;
  font-family: monospace;
  text-align: center;
}

/* .container {
  margin-top: 50px;
 
} */
.container22 {
  background-image: url('P.jpg');
  background-size: cover;
}
#j{
  margin-left:"20px" !important;
  position: relative;
  left:-50px;
}
img {
 
}
.container .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.container .team .member {
  width: 325px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}

.container .team .member img {
  width: 80px;
}

.container .team .member h3 {
  color: #444;
}

.container .team .member span {
  font-size: 15px;
}

.container .team .member p {
  margin: 15px 0;
  font-weight: 400;
  color: #999;
  font-size: 15px;
  text-align: justify;
}

b {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}

h3 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
}

h3 div {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}
.containers {
  margin-left: -80px;
  margin-top: -20px;
}
.neon {
  font-family: neon;
  color: #fb4264;
  font-size: 8rem;
  line-height: 8rem;
  text-shadow: 0 0 1rem #f40a35;
}

.flux {
  font-family: neon;
  color: #426dfb;
  font-size: 8rem;
  line-height: 8rem;
  text-shadow: 0 0 1rem #2356ff;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}
@media (max-width: 768px) {
  .neon,
  .flux {
    font-size: 5rem;
    line-height: 6rem;
  }
}
@media (max-width: 500px) {
  .neon,
  .flux {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

h3::before,
h3::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

h3::before {
  animation: crack1 2.5s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h3::after {
  animation: crack2 2.5s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) containertate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}
svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
b div {
  font: 700 4em/1 'Oswald', sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
#d {
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.container .team .member .btn a {
  background: #ddd;
  display: block;
  float: right;
  width: 125px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 6px;
  color: #444;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.container .team .member .btn a:hover {
  background: #5a36dd;
  color: #fff;
}

.box p {
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
  padding: 22px 72px;
  font-family: monospace;
}

@media (max-width: 605px) {
  .box img {
    margin: 60px 40%;
  }
}

.navbar-small .logo-container .brand {
  color: #333333;
}

.fixed-section {
  top: 90px;
  max-height: 80vh;
  overflow: scroll;
  position: sticky;
}

.fixed-section ul {
  padding: 0;
}

.fixed-section ul li {
  list-style: none;
}

.fixed-section li a {
  font-size: 14px;
  padding: 2px;
  display: block;
  color: #666666;
}

.fixed-section li a.active {
  color: #00bbff;
}

.fixed-section.float {
  position: fixed;
  top: 100px;
  width: 200px;
  margin-top: 0;
}

.parallax .parallax-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.parallax .parallax-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .parallax .parallax-image {
    width: 100%;
    height: 640px;
    overflow: hidden;
  }
  .parallax .parallax-image img {
    height: 100%;
    width: auto;
  }
}

/*.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}*/

.social-buttons-demo .btn {
  margin-right: 5px;
  margin-bottom: 7px;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.lightbox img {
  width: 100%;
}

.lightbox .modal-content {
  overflow: hidden;
}

.lightbox .modal-body {
  padding: 0;
}

@media screen and (min-width: 991px) {
  .lightbox .modal-dialog {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .fixed-section.affix {
    position: relative;
    margin-bottom: 100px;
  }
}
.profile-page .profile-description {
  margin-top: -30px;
  max-width: 450px;
  font-size: 1.13em;
  line-height: 26px;
}
@media (max-width: 768px) {
  .btn,
  .btn-morphing {
    margin-bottom: 10px;
  }
  .parallax .motto {
    top: 170px;
    margin-top: 0;
    font-size: 60px;
    width: 270px;
  }
}

/*       Loading dots  */

/*      transitions */

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#images h4 {
  margin-bottom: 30px;
}

#javascriptComponents {
  padding-bottom: 0;
}

/*      layer animation          */

.layers-container {
  display: block;
  margin-top: 50px;
  position: relative;
}

.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
  color: #ffffff;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #333333;
}

.sharing-area {
  margin-top: 80px;
}

.sharing-area .btn {
  margin: 15px 4px 0;
}

.section-thin,
.section-notifications {
  padding: 0;
}

/*.section-navbars{
    padding-top: 0;
}*/

#navbar .navbar {
  margin-bottom: 20px;
  z-index: 1 !important;
}

#navbar .navbar-toggler,
#menu-dropdown .navbar-toggler {
  pointer-events: none;
}

.section-pagination {
  padding-bottom: 0;
}

.section-pagination .pagination:last-of-type {
  margin-bottom: 7px;
}

.section-download {
  padding-top: 130px;
}

.section-download .description {
  margin-bottom: 60px;
}

.section-download h4 {
  margin-bottom: 25px;
}

.section-examples a {
  text-decoration: none;
}

.section-examples a + a {
  margin-top: 30px;
}

.section-examples h5 {
  margin-top: 30px;
}

.components-page .wrapper > .header,
.tutorial-page .wrapper > .header {
  height: 500px;
  padding-top: 128px;
  background-size: cover;
  background-position: center center;
}

.components-page .title,
.tutorial-page .title {
  color: #ffffff;
}

.brand .h1-seo {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 300;
}

.brand .n-logo {
  max-width: 100px;
  margin-bottom: 40px;
}

.invision-logo {
  max-width: 70px;
  top: -2px;
  position: relative;
}

.creative-tim-logo {
  max-width: 140px;
  top: -2px;
  position: relative;
}

.section-javascript .title {
  margin-bottom: 0;
}

.navbar .switch-background {
  display: block;
}

.navbar-transparent .switch-background {
  display: none;
}

.section-signup .col .btn {
  margin-top: 30px;
}

#buttons-row .btn {
  margin-bottom: 10px;
}

.section-images {
  padding-bottom: 0;
}

@media screen and (max-width: 991px) {
  .section-navbars .navbar-collapse {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .typography-line span {
    width: 70px;
    margin-left: 5px;
  }
}

.offline-doc .page-header:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}
